*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: gray;
}

header{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
}

header a{
    text-decoration: none;
    color: blue;
}

header a:hover{
    text-decoration: underline;
}

main{
    text-align: center;
    height: 100%;
    margin: 5% 20% 3%;
    background: white;
    border-radius: 10px;
    padding: 5%;
}

main h1{
    margin-bottom: 20px;
    font-size: 4em;
}

main h2{
    margin-bottom: 30px;
    font-size: 1.4em;
    font-weight: 300;
}

.btn{
    display:inline-block;
    background: white;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration:none;
    font-size: 1.3em;
    font-weight:700;
    color: black;
    text-align:center;
    transition: all 0.2s;
    position: relative;
    outline: none;
}

.btn:hover{
    background-color:darkgray;
    color: white;
    
}

.btn:active{
    top: .1em;
    
}

#quiz{
    display: none;
}
