*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: gray;
}

section{
    display: none;
}

h3, p{
    font-size: 1.4em;
    font-weight: 300;
}

.container{
    text-align: center;
    height: 100%;
    margin: 5% 20%;
    background: white;
    border-radius: 10px;
    padding: 3%;
}

.btn{
    background: white;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius: 10px;
    text-decoration:none;
    font-size: 1.2em;
    font-weight:700;
    color: black;
    text-align:center;
    width: fit-content;
    transition: all 0.2s;
    position: relative;
    outline: none;
}

.btn:hover{
    background-color:darkgray;
    color: white;  
}

.btn:active{
    top: .1em; 
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
}

header a{
    text-decoration: none;
    color: blue;
}

header a:hover{
    text-decoration: underline;
}

#timer{
    color: green;
}


/* Starting page */
#main h1{
    margin-bottom: 20px;
    font-size: 4em;
}

#main p{
    margin-bottom: 30px;
}

/* Questions */
#quiz h3{
    text-decoration: underline;
    font-style: italic;
    margin-top: 1em;
}

#quiz{
    text-align: left;
}

#question{
    margin-bottom: 2em;
    font-weight: 700;
    font-size: 1.5em;
}


/* Record-Score */
#record-score h3{
    margin: 1em 0;
}

#record-score .btn{
    margin: 1.24em 0;
}